@model HotelProject.Models.ImageHotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImageHotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Action("RetrieveImage", "ImageHotels", new { id = Model.ID })" alt="" style="max-height: 300px; max-width: 600px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
